


video {
transform: scaleX(-1);
    transform: scaleX(-1);
    object-fit: fill;
    display: inline-block;
    position: absolute;
    width:700px;
    height: 400px;
    float: left;
}


