body{
    background-color: #51659c;
    font-family: Arial, sans-serif;
    color: #333;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
button{
    background-color: #ff5e00;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
h1{
    color: #ff9b05;
    text-align: center;
    font-size: 2.5em;
    margin-top: 20px;
}
h2{
    color: #ff9b05;
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
}
button.letter-button{
    background-color: #ca5f21;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button.letter-button:hover{
    background-color: #ff9b05;
    color: black;
}

