body{
    background-color:rgb(9, 129, 55);
    font-family: Arial, sans-serif;
    color: #333;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
    color: #2c3e50;
}
input{
    width: 25%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
input#password{
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button{
    background-color: #e284ff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    max-width: 35% !important;
}
input.option{
    width: 100%;
}