body{
    margin: 0;
    padding: 0;
    background: url(sand.png) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}
img.right{
    float: right;
    right:0;
    margin: 0;
    border-left: 3px solid #000;
    height: 100%;
    max-width: 43% !important;
}
img.left{
    float: left;
    left: 0;
    margin: 0;
    border-right: 3px solid #000;
    height: 43%;
    width: 43%;
}
img.bottom{
    bottom: 0;
    margin: 0;
    border-top: 3px solid #000;
}
img.top{
    top: 0;
    margin: 0;
    border-bottom: 3px solid #000;
}