body{
    margin:0;
    background-color: rgba(24, 24, 24, 0.938);
    color: beige;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 4px;
nav {
    background-color: #7700ff;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
}
a.nav-button, img.gif {
    padding: 5px 10px;
    background: red;
    box-shadow: 0 0 3px 3px green;
    font-weight: bold;
    font-size: 14px;
    color: white;
    font-family: sans-serif;
    text-decoration: none;margin: 7px;
    height: auto;
  }a.nav-button:hover {
    color: white;
    background: #5500ff;
    border-radius: 50px;
    transition: all 0.4s;
    box-shadow: 0 0 1px 5px green, 0 0 1px 10px palegoldenrod;
  }
