body{
    margin:0;
    background-color: rgba(24, 24, 24, 0.938);
    color: beige;
    align-items: center;
    justify-content: center;
    text-align: center;
}
nav {
    background-color: #7700ff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);}