body{
    background: url(bulletinboard.jpg);
    background-size: 100%;
}
.img{
    border: 10px solid white;
    width: 600px;
    height: 450px;
}
.zero {
    background: url("Photos/0.jpg");
    background-size: 600px 450px; /* width x height */
    background-repeat: no-repeat;  /* prevent tiling */
    transform: rotate(37deg);
}

