body {
  margin: 0;
  background-color: #181818;
  color: #f5f5f5;
  font-family: Arial, sans-serif;
  text-align: center;
  line-height: 1.6;
}

nav {
  background-color: #5500ff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  gap: 15px;
}

a.nav-button {
  padding: 10px 20px;
  background: #7700ff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

a.nav-button:hover {
  background-color: #4400aa;
}

header {
  padding: 20px;
  background-color: #37115d;
  color: white;
  margin-top: 20px;
}

header .profile-picture {
  border-radius: 50%;
  width: 150px;
  margin-bottom: 10px;
}

main {
  padding: 20px;
}

section {
  margin: 20px 0;
}

.project-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.project-gallery .gif {
  width: 200px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.project-gallery .large-gif .gif {
  width: 400px; /* Make texd.gif larger */
  margin-top: 20px; /* Add spacing */
}

footer {
  background-color: #5500ff;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
section#contact{
  margin-bottom: 20px;
}